<%= content_for :title, "Detalle del Usuario" %>

<section class="container mt-5">
  <h1 class="text-secondary fw-bold mb-4">Detalle del Usuario</h1>

  <div class="card">
    <div class="card-header bg-primary text-white">
      Información del Usuario
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <%= @user.alias %>
      </h5>
      <p class="card-text">
        <strong>Email:</strong> <%= @user.email %><br>
        <strong>Rol:</strong> <%= @user.role.name %><br>
        <strong>Estado:</strong> 
        <span class="badge <%= @user.active ? 'bg-success' : 'bg-danger' %>">
          <%= @user.active ? 'Activo' : 'Bloqueado' %>
        </span><br>
        <strong>Fecha de Creación:</strong> <%= @user.created_at.strftime('%Y-%m-%d') %><br>
        <strong>Última Actualización:</strong> <%= @user.updated_at.strftime('%Y-%m-%d') %>
      </p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <!-- Botones de acción -->
      <%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-warning btn-sm' do %>
        <i class="fas fa-edit"></i> Editar
      <% end %>
      <%= button_to @user.active ? 'Bloquear' : 'Activar', toggle_active_user_path(@user), method: :post, class: "btn btn-sm #{ @user.active ? 'btn-danger' : 'btn-success' }" do %>
        <i class="fas <%= @user.active ? 'fa-ban' : 'fa-check' %>"></i> 
        <%= @user.active ? 'Bloquear' : 'Activar' %>
      <% end %>
      <%= link_to 'Volver', users_path, class: 'btn btn-outline-secondary btn-sm' do %>
        <i class="fas fa-arrow-left"></i> Volver
      <% end %>
    </div>
  </div>
</section>
