<%= content_for :title, "Detalle del Producto" %>

<section class="container mt-5">
  <h1 class="text-secondary fw-bold mb-4">Detalle del Producto</h1>

  <div class="card">
    <div class="card-header bg-primary text-white">
      Información del Producto
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="card-text">
        <strong>Categoría:</strong> <%= @product.category.name %><br>
        <strong>Descripción:</strong> <%= @product.description %><br>
        <strong>Precio:</strong> <%= number_to_currency(@product.price) %><br>
        <strong>Stock:</strong> <%= @product.stock %><br>
        <strong>Fecha de Creación:</strong> <%= @product.created_at.strftime('%Y-%m-%d') %><br>
        <strong>Última Actualización:</strong> <%= @product.updated_at.strftime('%Y-%m-%d') %>
      </p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <!-- Botones de acción -->
      <%= link_to 'Editar', edit_admin_product_path(@product), class: 'btn btn-warning btn-sm' do %>
        <i class="fas fa-edit"></i> Editar
      <% end %>
      <%= button_to 'Eliminar', admin_product_path(@product), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: '¿Estás seguro de eliminar este producto?' } do %>
        <i class="fas fa-trash-alt"></i> Eliminar
      <% end %>
      <%= link_to 'Volver', admin_products_path, class: 'btn btn-outline-secondary btn-sm' do %>
        <i class="fas fa-arrow-left"></i> Volver
      <% end %>
    </div>
  </div>
</section>
