<h1 class="text-secondary fw-bold mb-4">Editar Perfil</h1>

<%= form_with model: @user, url: update_profile_admin_user_path(@user), local: true do |f| %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :username, 'Nombre de Usuario', class: 'form-label' %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'Ingrese el nombre de usuario' %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :email, 'Email', class: 'form-label' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Ingrese el email' %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :phone, 'Teléfono', class: 'form-label' %>
      <%= f.telephone_field :phone, class: 'form-control', placeholder: 'Ingrese el teléfono' %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :password, 'Contraseña', class: 'form-label' %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Ingrese una nueva contraseña (opcional)' %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :password_confirmation, 'Confirmar Contraseña', class: 'form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme la contraseña (opcional)' %>
    </div>
  </div>

  <%= f.submit 'Guardar cambios', class: 'btn btn-primary mt-3' %>
<% end %>