<%= content_for :title, "Editar Usuario" %>

<section class="container mt-5">
  <h1 class="text-secondary fw-bold mb-4">Editar Usuario</h1>

  <!-- Formulario de edición del usuario -->
  <%= form_with model: @user,  url: admin_user_path(@user),local: true do |f| %>
    <div class="row">
      <!-- Campo de Nombre de Usuario -->
      <div class="col-md-6 mb-3">
        <%= f.label :username, 'Nombre de Usuario', class: 'form-label' %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Ingrese el nombre de usuario' %>
      </div>

      <!-- Campo de Email -->
      <div class="col-md-6 mb-3">
        <%= f.label :email, 'Email', class: 'form-label' %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Ingrese el email' %>
      </div>

      <!-- Campo de Teléfono -->
      <div class="col-md-6 mb-3">
        <%= f.label :phone, 'Teléfono', class: 'form-label' %>
        <%= f.telephone_field :phone, class: 'form-control', placeholder: 'Ingrese el teléfono' %>
      </div>

      <!-- Campo de Rol -->
      <div class="col-md-6 mb-3">
        <%= f.label :role, 'Rol', class: 'form-label' %>
        <% if current_user == @user %>
          <%= f.collection_select :role_id, Role.all, :id, :name, { prompt: 'Seleccione un rol' }, class: 'form-select', disabled: true %>
        <% else %>
          <%= f.collection_select :role_id, Role.all, :id, :name, { prompt: 'Seleccione un rol' }, class: 'form-select' %>
        <% end %>
      </div>

      <!-- Campo de Contraseña (Opcional) -->
      <div class="col-md-6 mb-3">
        <%= f.label :password, 'Contraseña', class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Ingrese una nueva contraseña (opcional)' %>
      </div>

      <!-- Confirmar Contraseña (Opcional) -->
      <div class="col-md-6 mb-3">
        <%= f.label :password_confirmation, 'Confirmar Contraseña', class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme la contraseña (opcional)' %>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="d-flex justify-content-between mt-3">
      <%= f.submit 'Guardar Cambios', class: 'btn btn-success' %>
      <%= link_to 'Cancelar', admin_users_path, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</section>
